/* Doubt @ 185,218 */




*{
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}
body{
    background-color: black;
    color: white;
    font-family: "Poppins","sans-serif";
}
.navbar{
    position: absolute;
    top: 20px;
    width: 100%;
    justify-content: space-between;
    padding: 2px 5px;
    z-index: 10;
    display: flex;
}
.navbar__brand{
    width: 150px;
    height: 100%;
    padding-left: 30px;
}
.brand__logo{
    width: 100%;
    height: 100%;
}
.language__drop__down{
    background:transparent;
    /* background-color: black; */
    border: none;
    color: white;
}
.language__drop__down:focus{
    outline: none;
}
.dropdown__container{
    border: 2px solid white;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 5px;
}
 .options{
    background-color: black;
}
.signin__button{
    background-color: #E50914;
    border: 1px solid #E50914;
    color: white;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 18px;
}
.navbar__nav__items{
    display: flex;
    gap: 30px;
    padding-right: 80px;
}
/* HERO SECTION STYLING */

.hero__bg__image__container{
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
}
.hero__bg__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.her__bg__overlay{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(
      to top,
     rgba(0, 0, 0, 0.8) 0,
     rgba(0, 0, 0, 0) 60%,
     rgba(0, 0, 0, 0.8) 100%
  );
}
.hero__card{
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.hero__title{
    font-weight: 600;
    font-size: 3rem;
}
.hero__subtitle{
    font-weight: 400;
    font-size: 1.5rem;
}
.hero__description{
    margin: 0 50px;
    font-weight: 400;
    font-size: 1rem;
}
.email__input{
    border: none;
    background: transparent;
    width: 100%;
    height: 100%;
    padding-left: 7px;
}
.email__label{
    position: absolute;
    top:28%;
    left:2%;
    color: rgb(153, 149, 149);
    transition: 0.5s;
}
.email__form__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1px;
}
.form__container{
    background-color: white;
    height: 50px;
    position: relative; 
    /* As soon as the position is made to be relative,the "Email Address" is aligned correctly onto the search bar,till then it wasn't.how? */
    width:50%;
}
.email__input:focus + .email__label{
    top:0.2rem;
    font-size: 10px;
}
.email__input:not(:placeholder-shown) .email__input:not(:focus)+ .email__label{
    top: 0.2rem;
    font-size: 10px;
}
.email__input:focus-visible{
    outline: none;
}
.primary__button{
    background-color: #E50914;
  border: 1px solid #E50914;
  color: white;
  padding: 0.8rem 1.2rem;
  border-radius: 2px;
  font-size: 15px;
  letter-spacing: 1px;
  height: 50px;
}
/* FEATURE SECTION STYLING  */

.feature{
    
    border-top: 8px solid #222;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:20px;
}
.feature__details{
    text-align: center;
    text-align: left;
    padding: 0 6rem;
}
.feature__title{
  font-weight: 600;
  margin: 10px 0;
  font-size: 50px;
}
.feature__sub__title{
    font-weight: 400;
    font-size: 25px;
}
.feature__image__container{
    /* what will be the width of this div when width of the parent i.e feature is not explicitly set? */
    width: 100%;
    position: relative;
    max-width: 500px;
}
.feature:nth-child(even) {
    flex-direction: row-reverse;
}
.feature__image{
    width: 100%;
}
.feature__background__video__container {
    position: absolute;
    width: 100%;
    top: 20%;
    left: 13%;
    height: 100%;
    max-width: 73%;
    max-height: 54%;
    overflow-y: hidden;
    z-index: -2;
  }
.feature__background__video{
    width: 100%;
  }
.feature__2__poster__container{
    position: absolute;
    /* bottom: 8%;
    left: 50%;
    transform: translateX(-50%); */
    bottom:3%;
    left:8%;
    width: 100%;
    max-width: 26em;
    display: flex;
    align-items: center;
    background-color:black ;
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    height: 80px;
    padding: 1rem;
    gap: 15px;
    overflow-y: hidden;
    
}
.poster__container{
    width: 20%;
    
  overflow-y: hidden;
}
.poster {
    /* What is the point of setting the height and width to 100% when the dimension od the poster are not the same as original dimensions?
    original height:210px,widht:150px. After setting to 100% ,width:44.69px height:62.56px */
    width: 100%;
   
    height: 100%;
}
.poster__details{
    width:60%;
}
.poster__details > h4 {
    font-size: 13px;
    font-weight: 500;
}
.poster__details > h6 {
    font-size: 12px;
    font-weight: 400;
    color: rgb(63, 63, 246);
  }
  .download__gif__container {
    width: 20%;
    height: 100%;
    overflow-y: hidden;
  }
  .gif {
    width: 100%;
    height: 100%;
  }
  
  .feature__3__backgroud__video__container {
    max-width: 63%;
    max-height: 47%;
    z-index: -2;
    top: 9%;
    left: 19%;
  }
  /* STYLING OF THE FAQ */
.FAQ__accordian{
    width: 100%;
}
 .FAQ__title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    font-size: 18px;
    background-color: #303030;
    border: 1px solid #303030;
    color: white;
 } 
 .FAQ__visible{
    background-color: #303030;
    border: 1px solid #303030;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
 }
 .FAQ__visible > p{
    margin: 1rem;

 }
 .FAQ__list__container {
    border-top: 8px solid #222;
    padding: 2rem 0;
  }
  .FAQ__heading {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    margin: 1rem 3rem;
  }
  .FAQ__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding:1rem 25rem;
  }
  /* FOOTER STYLING  */

  footer{
    border-top: 8px solid #222;
    padding: 2rem 20rem;
    color: #757575;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* justify-content: flex-start; */
    text-align: left;
    align-items: flex-start;
  }
  .footer__row__2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    align-items: flex-start;
    flex-wrap: nowrap;
    font-size: 15px;
  }
  .footer__row__1 > h4 {
    font-size: 15px;
    font-weight: 500;
  }
  .footer__row__3 > .dropdown__container {
    width: fit-content;
    border: 1px solid #757575;
  }
  .footer__row__3 > .dropdown__container > .language__drop__down {
    color: #757575;
    outline: none;
  }
  .footer__row__1,
  .footer__row__3,
  .footer__row__4 {
    align-self: flex-start;
  }

.column__1{
  padding-right: 70px;
}
.column__2{
  padding-right: 70px;
}
.column__3{
  padding-right: 70px;
}